:root {
  --color-darkgreen: #2e3532;
  --color-secondary: #7e9181;
  --color-lightgreen: #a3b0ae;
  --color-verylightgreen: #b5bfc5;
  --color-primary: #c7cedb;
  --color-white: #e2e6ec;
  --color-font: #191d1b;
}

[data-theme='dark'] {
  --color-darkgreen: #2e3532;
  --color-secondary: #56635a;
  --color-lightgreen: #91a198;
  --color-verylightgreen: #9aa9a3;
  --color-primary: #121113;
  --color-white: #e2e6ec;
  --color-font: #292f2d;
}
