<nav class="navigation">
  <a href="index.html"
    ><img
      class="navigation__icons"
      src="../home.svg"
      width="40"
      height="40"
      alt="Home"
  /></a>
  <a href="bookmark.html"
    ><img
      class="navigation__icons"
      src="../bookmark.svg"
      width="40"
      height="40"
      alt="Bookmark"
  /></a>
  <a href=""
    ><img
      class="navigation__icons"
      src="../create.svg"
      width="40"
      height="40"
      alt="Create"
  /></a>
  <a href=""
    ><img
      class="navigation__icons"
      src="../settings.svg"
      width="40"
      height="40"
      alt="Settings"
  /></a>
</nav>
