.quiz-card {
  background: var(--color-verylightgreen);
  text-align: center;
  margin: 15px;
  border-radius: 15px;
  padding-bottom: 10px;
  position: relative;
}

.quiz-card__bookmark {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: -3px;
}

.quiz-card__bookmarked {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: -3px;
}

.quiz-card__question {
  background: var(--color-lightgreen);
  border-radius: 15px 15px 0 0;
  padding: 30px 0;
  font-size: 20px;
}

.quiz-card__answer {
  margin: 15px;
}

.quiz-card__tags {
  margin: 5px;
}
