<section class="quiz-card">
  <h2 class="quiz-card__question">What is always coming but never arrives?</h2>
  <div class="quiz-card__bookmark">
    <img src="./bookmark_clear.svg" width="30" height="30" alt="" />
  </div>
  <details>
    <summary>Show answer</summary>
    <div class="quiz-card__answer">Tomorrow.</div>
  </details>
  <div class="quiz-card__tags">
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </div>
</section>
<section class="quiz-card">
  <h2 class="quiz-card__question">What can one catch that is not thrown?</h2>
  <div class="quiz-card__bookmark">
    <img src="./bookmark_clear.svg" width="30" height="30" alt="" />
  </div>
  <details>
    <summary>Show answer</summary>
    <div class="quiz-card__answer">A cold.</div>
  </details>
  <div class="quiz-card__tags">
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </div>
</section>
<section class="quiz-card">
  <h2 class="quiz-card__question">
    What is it that goes up but never comes down?
  </h2>
  <div class="quiz-card__bookmark">
    <img src="./bookmark_clear.svg" width="30" height="30" alt="" />
  </div>
  <details>
    <summary>Show answer</summary>
    <div class="quiz-card__answer">Age.</div>
  </details>
  <div class="quiz-card__tags">
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </div>
</section>
