.app-grid {
  display: inline-block;
  width: 100vw;
}

.app-grid__heading {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: linear-gradient(#7e9181, #c7cedb);
  overflow: auto;
}

.app-grid__header {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  margin: 5px;
}

.app-grid__content {
  background: var(--color-grey);
  overflow-y: auto;
}

.app-grid__navigation {
  background: var(--color-darkgreen);
}
