section class="hidden" data-js="page" data-name="bookmark">
<section class="quiz-card" data-js="quiz-card">
  <h2 class="quiz-card__question">What is always coming but never arrives?</h2>
  <span
    class="fas fa-bookmark quiz-card__bookmark"
    role="button"
    data-js="bookmark-icon"
  >
  </span>
  <button class="quiz-card__button" data-js="quiz-card-button">
    Show answer
  </button>
  <p class="quiz-card__answer" data-js="quiz-card-answer">Tomorrow.</p>
  <div class="quiz-card__tags">
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </div>
</section>
