.navigation {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  overflow: auto;
  padding: 0;
  font-size: 35px;
  border-radius: 15px;
  box-shadow: 0 2px 11px var(--color-darkgreen);
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.navigation__icons {
  color: var(--color-green);
  margin: 5px;
  padding-top: 5px;
}

.active {
  color: var(--color-verylightgreen) !important;
  text-shadow: var(--color-green) 1px 0 10px;
}
