.navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  padding-top: 12px;
  font-size: 35px;
}

.navigation__icons {
  color: var(--color-green);
}
