.navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  padding-top: 12px;
}

.navigation__icons {
  filter: invert(58%) sepia(17%) saturate(285%) hue-rotate(78deg)
    brightness(93%) contrast(84%);
}
