.quiz-card {
  background: var(--color-verylightgreen);
  text-align: center;
  margin: 15px;
  border-bottom: 1px solid var(--color-green);
  border-left: 1px solid var(--color-green);
  border-radius: 15px;
  padding-bottom: 10px;
  position: relative;
}

.quiz-card:first-child {
  margin-top: 70px;
}

.quiz-card:last-child {
  margin-bottom: 85px;
}

.quiz-card__bookmark {
  font-size: 30px;
  color: var(--color-darkgreen);
  text-shadow: var(--color-darkgreen) 1px 0 10px;
  position: absolute;
  right: 20px;
  top: -3px;
}

.quiz-card__bookmarked {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: -3px;
}

.quiz-card__question {
  background: var(--color-lightgreen);
  border-radius: 15px 15px 0 0;
  padding: 30px 0;
  font-size: 20px;
}

.quiz-card__button {
  border: none;
  filter: drop-shadow(0 0 0.3rem var(--color-darkgreen));
  padding: 15px;
  background: var(--color-green);
  border-radius: 15px;
  font-family: 'Fredoka One', cursive;
  color: var(--color-darkgreen);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.quiz-card__answer {
  display: none;
  margin: 10px;
  background: var(--color-lightgreen);
  border: 1px solid var(--color-darkgreen);
  border-radius: 15px;
  padding: 12px;
}

.quiz-card__tags {
  margin: 5px;
}
