.quiz-card {
  background: var(--color-verylightgreen);
  text-align: center;
  margin: 15px;
  border-bottom: 1px solid var(--color-green);
  border-left: 1px solid var(--color-green);
  border-radius: 15px;
  padding-bottom: 10px;
  position: relative;
}

.quiz-card:first-child {
  margin-top: 70px;
}

.quiz-card:last-child {
  margin-bottom: 85px;
}

.quiz-card__bookmark {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: -3px;
}

.quiz-card__bookmarked {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: -3px;
}

.quiz-card__summary {
  list-style: none;
  background: var(--color-green);
  margin: 0 100px;
  padding: 2px 0;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.1rem #000);
  transition: all 0.6s ease-in-out;
}

.quiz-card__summary:focus {
  border: 5px dotted var(--color-verylightgreen);
  filter: drop-shadow(0 0 0.1rem #000);
  margin: 20px;
}

.quiz-card__question {
  background: var(--color-lightgreen);
  border-radius: 15px 15px 0 0;
  padding: 30px 0;
  font-size: 20px;
}

.quiz-card__answer {
  margin: 20px;
  padding: 20px;
}

details {
  transition: height 1s ease-in-out;
  overflow-y: visible;
}

details:not([open]) {
  height: 2em;
}

details[open] {
  height: 8em;
}

.quiz-card__tags {
  margin: 5px;
}
