.app-grid {
  display: grid;
  background: hotpink;
  grid-template-rows: 55px auto 55px;
  height: 100vh;
}

.app-grid__heading {
  background: var(--color-green);
}

.app-grid__header {
  text-align: center;
  margin: 5px;
}

.app-grid__content {
  background: var(--color-grey);
  overflow-y: auto;
}

.app-grid__navigation {
  background: var(--color-darkgreen);
}
